@{
    ViewBag.Title = "Ingreso";
}

<section class="page-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 card shadow mb-4">
                <div class="card-header py-3 align-middle text-center">
                    <div class="row w-100 align-content-center">
                        <img src="~/Content/img/usuarios.svg" alt="Control" style="width:auto; height:40px; padding: 0% 3% 0% 35% ">
                        <h2 class="m-0 font-weight-bold text-primary">Ingreso Usuario</h2>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post" action="/bdd/mostrar">
                        <p style="text-align:center;">
                            Usuario:
                            <br>
                            <input name="user" type="text">
                            <br>
                        </p>
                        <p style="text-align:center;">
                            Password:
                            <br>
                            <input name="pass" type="password">
                            <br><br>
                            <input style="text-align:center;" class="btn btn-primary btn-group-sm" type="submit" value=" Ingresar " />
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
