@{
    ViewBag.Title = "Ingreso";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
            <br>
            <h2 class="text-uppercase text-primary font-weight-bold">Ingreso Usuario</h2>
            <hr class="divider my-4" />
        </div>
    </div>
</div>
<section class="page-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 card shadow mb-4">
                <div class="card-header py-3 align-middle text-center">
                    <div class="w-100 align-content-center">
                        <img src="~/Content/img/usuarios.svg" alt="Control" style="width:70px; height:60px">
                    </div>
                </div>
                <div class="card-body">
                    <form method="post" action="/bdd/guarda"></form>
                    <p style="text-align:center;">
                        Usuario:
                        <br>
                        <input type="text">
                        <br><br>
                    </p>
                    <p style="text-align:center;">
                        Password:
                        <br>
                        <input type="text">
                        <br><br><br>
                        <a style="text-align:center;" class="btn btn-primary btn-group-sm" href="/Home/Menu_Opciones">Ingresar Administrador &raquo;</a>
                        <a style="text-align:center;" class="btn btn-primary btn-group-sm" href="/Home/Vista_Usuario">Ingresar Usuario &raquo;</a>
                    </p>
                    <br><br>
                    </form>
                    <tr><td>
                    <form method="post" action="/bdd/mostrar">
                        <input type="submit" value="Mostrar datos de la tabla" />
                     </form>
                </tr></td></div>
            </div>
        </div>
    </div>
</section>