
@{
    ViewBag.Title = "Ingreso";
}
@Html.Partial("_menu_horizontal_a")

<div style="position: relative; top:100px; background-color:yellowgreen; width: 100%; height: auto">
    <h2>Ingreso</h2>
</div>