
@{
    ViewBag.Title = "Registro_Produccion";
}

<br />
<p><a class="btn btn-default" href="/Home/Menu_Opciones">Volver al Menu &raquo;</a></p>
<form>
    <img src="~/Content/img/frutos.svg" alt="Control" style="width:70px; height:60px">
    <fieldset>
        <legend>Ingreso de Producción</legend>
        <table style="width:100%">
            <tr>
                <th>Identificador</th>
                <th>Nombre Fruto</th>
                <th>Sector</th>
                <th>Peso</th>

            </tr>
            <tr>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>

            </tr>
            <tr>
                <th>Caracteristicas Adicionales</th>
            </tr>
            <tr>
                <td><textarea name="mensaje"></textarea></td>
            </tr>
        </table>
        <p><a class="btn btn-default" onclick="alert('Fruto Registrado')" href="">Ingresar Fruto &raquo;</a></p>
    </fieldset>
</form>
