
@{
                /**/

                ViewBag.Title = "Registro_Sectores";
}


<br />
<p><a class="btn btn-default" href="/Home/Menu_Opciones">Volver al Menu &raquo;</a></p>
<form>
    <img src="~/Content/img/parcelas.svg" alt="Control" style="width:70px; height:60px">
    <fieldset>
        <legend>Ingreso Sector</legend>
        <table style="width:100%">
            <tr>
                <th>Número:
                <input type="text">
                </th>

                <th>Parcela:
                <input type="text">
                </th>

                <th><label for="name">Sector:</label>
                    <select name="select">
                        <option value="Value1">Campo 1</option>
                        <option value="value2" selected>Campo 2</option>
                        <option value="Value3">Campo 3</option>
                    </select>
                </th>

            </tr>
            
        </table>
        <p><a class="btn btn-default" onclick="alert('Sector Registrado')" href="">Ingresar Sector &raquo;</a></p>
    </fieldset>
</form>