
@{
    ViewBag.Title = "Registro_Fruto";
}

<br />
<p><a class="btn btn-default" href="/Home/Menu_Opciones">Volver al Menu &raquo;</a></p>
<form>
    <img src="~/Content/img/frutos.svg" alt="Control" style="width:70px; height:60px">
    <fieldset>
        <legend>Ingreso Fruto</legend>
        <table style="width:100%">
            <tr>
                <th>Identificador:
                <input type="text">
                </th>

                <th>
                    <label for="name">Fruto:</label>
                    <select name="select">
                        <option value="Value1">Fresa</option>
                        <option value="value2" selected>Arándano</option>
                        <option value="Value1">Mora</option>
                    </select>
                </th>

                <th>Designación:
                <input type="text">
                </th>

            </tr>
                       
        </table>
        <p><a class="btn btn-default" onclick="alert('Fruto Registrado')" href="">Ingresar Fruto &raquo;</a></p>
    </fieldset>
</form>
