
@{
    ViewBag.Title = "Registro_Produccion";
}

<br />
<p><a class="btn btn-default" href="/Home/Menu_Opciones">Volver al Menu &raquo;</a></p>
<form>
    <img src="~/Content/img/frutos.svg" alt="Control" style="width:70px; height:60px">
    <fieldset>
        <legend>Ingreso de Producción</legend>
        <table style="width:100%">
            <tr>
                <th>Identificador:
                <input type="text">
                </th>
               
                <th>
                    <label for="name">Fruto:</label>
                    <select name="select">
                        <option value="Value1">Fresa</option>
                        <option value="value2" selected>Arándano</option>
                        <option value="Value3">Mora</option>
                    </select>
                </th>
                <th>
                    <label for="name">Sector:</label>
                    <select name="select">
                        <option value="Value1">Campo 1</option>
                        <option value="value2" selected>Campo 2</option>
                        <option value="Value3">Campo 3</option>
                    </select>
                </th>

                <th>Peso (kg):
                <input type="text">
                </th>


            </tr>
       
           
        </table>
        <p><a class="btn btn-default" onclick="alert('Fruto Registrado')" href="">Ingresar Fruto &raquo;</a></p>
    </fieldset>
</form>
