
@{
                /**/

                ViewBag.Title = "Registro_Usuario";
}

<br />
<p><a class="btn btn-default" href="/Home/Menu_Opciones">Volver al Menu &raquo;</a></p>
<form action="/action_page.php">
    <img src="~/Content/img/usuarios.svg" alt="Control" style="width:70px; height:60px">
    <fieldset>
        <legend>Ingreso Usuario</legend>
        <table style="width:100%">
            <tr>
            <tr>
                <th>Rut:</th>
            </tr>
            <tr>
                <td><input type="text"></td>
            </tr>

            <tr>
                <th>Nombre:</th>
            </tr>
            <tr>
                <td><input type="text"></td>
            </tr>
            <tr>
            <th>Apellido:</th>
            <tr>
                <td><input type="text"></td>
            </tr>
           
            <tr>
                <th>Código:</th>
            <tr>
                <td><input type="text"></td>
            </tr>

            <th>E-mail:</th>
            <tr>
                <td><input type="text"></td>
            </tr>
            <tr>
                <th>Teléfono:</th>
            </tr>
            <tr>
                <td><input type="text"></td>
            </tr>
            <th>
                <label for="name">Tipo:</label>
                <select name="select">
                    <option value="Value1">Nivel 1</option>
                    <option value="value2" selected>Nivel 2</option>
                    <option value="Value3">Nivel 3</option>
                </select>
            </th>
        </tr>

        </table>

        <p><a class="btn btn-default" onclick="alert('Usuario Registrado')" href="">Ingresar Usuario &raquo;</a></p>
    </fieldset>
</form>
@*<form action="/action_page.php">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>
        <input type="submit" value="Ingresar Usuario">

    </form>*@
