
@{
                /**/

                ViewBag.Title = "Registro_Sectores";
}


<br />
<p><a class="btn btn-default" href="/Home/Menu_Opciones">Volver al Menu &raquo;</a></p>
<form>
    <img src="~/Content/img/parcelas.svg" alt="Control" style="width:70px; height:60px">
    <fieldset>
        <legend>Ingreso Sector</legend>
        <table style="width:100%">
            <tr>
                <th>Número</th>
                <th>Parcela</th>
                <th>Fruto</th>
            </tr>
            <tr>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <th>Datos Adicionales</th>
            </tr>
            <tr>
                <td><textarea name="mensaje"></textarea></td>
            </tr>
        </table>
        <p><a class="btn btn-default" onclick="alert('Sector Registrado')" href="">Ingresar Sector &raquo;</a></p>
    </fieldset>
</form>