<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
            <br>
            <h2 class="text-uppercase text-primary font-weight-bold">Comprobantes de Producción</h2><br>
            <h5 class="text-uppercase text-primary font-weight-bold">@ViewBag.mensaje</h5>
            <hr class="divider my-4" />
        </div>
    </div>
</div>
<section class="page-section">
    <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 card shadow mb-4">
                    <div class="card-header py-3 align-middle">
                        <div class="row text-primary">
                            <i class="fas fa-info-circle" text-primary mb-4" style="width:3%; height:auto; padding: 0px 6px "></i>
                            <i></i>
                            <h4 class="m-0 font-weight-bold text-primary">  Comprobantes Almacenados</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table-primary th td">

                            <caption>
                                operaciones de cosecha generalmente se refleja en la rapidez
                                con que el producto se mueve del campo al mercado, estación de empaque o
                                centro de almacenamiento, siempre y cuando no sea a expensas de un manejo
                                cuidadoso y posterior degradación de la calidad
                            </caption>



                            <tr>

                                <th scope="col">Producción por Mes</th>

                                <th>Enero</th>

                                <th>Febrero</th>

                                <th>Marzo</th>

                            </tr>

                            <tr>

                                <th>Cerezos</th>

                                <td>Asignación 2356 - 1254 Kgrs</td>

                                <td>Asignación 8974 - 1582 Kgrs</td>

                                <td>Asignación 3652 - 685 Kgrs</td>

                            </tr>

                            <tr>

                                <th>Zanahorias</th>

                                <td>Asignación 2233 - 1050 Kgrs</td>

                                <td>Asignación 5478 - 1233 Kgrs</td>

                                <td>Asignación 6987 - 235 Kgrs</td>

                            </tr>

                        </table>
                        <hr class="divider-large" />
                        <table class="table-primary th td">

                            <tr>

                                <th></th>

                                <th>Día 1</th>

                                <th>Día 2</th>

                                <th>Día 3</th>

                                <th>Día 4</th>

                            </tr>

                            <tr>

                                <th>Sector Cosechado</th>

                                <td colspan="3">0 km</td>

                                <td>4 km</td>

                            </tr>

                            <tr>

                                <th>Sector Cosechado</th>

                                <td>23 km</td>

                                <td>18 km</td>

                                <td>19 km</td>

                                <td>15 km</td>

                            </tr>

                        </table>
                        <hr class="divider-large" />
                        <br><br>

                        <img src="~/Content/img/impresora.svg" alt="Control" style="width:70px; height:60px">
                        <a class="btn btn-primary btn-sm" href="">Reporte Personal &raquo;</a>
                        <br><br><br>
                        <a class="btn btn-primary btn-sm" onclick="alert('Ud. ha finalizado Sesion')" href="/Home/Index">Cerrar Sesion &raquo;</a>

                    </div>
                </div>
            </div>
    </div>
</section>


