
@{
    /**/

    /**/

    /**/

    /**/

    ViewBag.Title = "Vista_Usuario";
}

<h2>Nombre Usuario Activo</h2>

<table class="egt">

    <caption>
        operaciones de cosecha generalmente se refleja en la rapidez
        con que el producto se mueve del campo al mercado, estación de empaque o
        centro de almacenamiento, siempre y cuando no sea a expensas de un manejo
        cuidadoso y posterior degradación de la calidad
    </caption>



    <tr>

        <th scope="col">Producción por Mes</th>

        <th>Enero</th>

        <th>Febrero</th>

        <th>Marzo</th>

    </tr>

    <tr>

        <th>Cerezos</th>

        <td>Asignación 2356 - 1254 Kgrs</td>

        <td>Asignación 8974 - 1582 Kgrs</td>

        <td>Asignación 3652 - 685 Kgrs</td>

    </tr>

    <tr>

        <th>Zanahorias</th>

        <td>Asignación 2233 - 1050 Kgrs</td>

        <td>Asignación 5478 - 1233 Kgrs</td>

        <td>Asignación 6987 - 235 Kgrs</td>

    </tr>

</table>

<br><br>

------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------


<table class="egt">

    <tr>

        <th></th>

        <th>Día 1</th>

        <th>Día 2</th>

        <th>Día 3</th>

        <th>Día 4</th>

    </tr>

    <tr>

        <th>Sector Cosechado</th>

        <td colspan="3">0 km</td>

        <td>4 km</td>

    </tr>

    <tr>

        <th>Sector Cosechado</th>

        <td>23 km</td>

        <td>18 km</td>

        <td>19 km</td>

        <td>15 km</td>

    </tr>

</table>

<br><br>

------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------


<table class="egt">

    <colgroup>

        <colgroup span="2" style="background: rgba(128, 255, 0, 0.3); border: 1px solid rgba(100, 200, 0, 0.3);"></colgroup>

        <colgroup span="2" style="background: rgba(255, 128, 0, 0.3); border: 1px solid rgba(200, 100, 0, 0.3);"></colgroup>

        <tr>

            <th></th>

            <th colspan="2">Mike</th>

            <th colspan="2">Tara</th>

        </tr>

        <tr>

            <th></th>

            <th>Primera prueba</th>

            <th>Segunda prueba</th>

            <th>Primera prueba</th>

            <th>Segunda prueba</th>

        </tr>

        <tr>

            <th>Día 1</th>

            <td>25 km</td>

            <td>38 km</td>

            <td>28 km</td>

            <td>37 km</td>

        </tr>

        <tr>

            <th>Día 2</th>

            <td>22 km</td>

            <td>35 km</td>

            <td>30 km</td>

            <td>35 km</td>

        </tr>
    </colgroup>
</table>

------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------


<!DOCTYPE html>
<html>
<head>
    <title>Prueba de Bootstrap</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div class="container">

        <div class="row">
            <div class="col-lg-4" style="background-color:#aaa">
                <h1>Columna 1</h1>
                <p>Esto es una prueba de bootstrap.</p>
            </div>
            <div class="col-lg-4" style="background-color:#bbb">
                <h1>Columna 2</h1>
                <p>Esto es una prueba de bootstrap.</p>
            </div>
            <div class="col-lg-4" style="background-color:#ccc">
                <h1>Columna 3</h1>
                <p>Esto es una prueba de bootstrap.</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-4" style="background-color:#aaa">
                <h1>Columna 1</h1>
                <p>Esto es una prueba de bootstrap.</p>
            </div>
            <div class="col-md-4" style="background-color:#bbb">
                <h1>Columna 2</h1>
                <p>Esto es una prueba de bootstrap.</p>
            </div>
            <div class="col-md-4" style="background-color:#ccc">
                <h1>Columna 3</h1>
                <p>Esto es una prueba de bootstrap.</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm-4" style="background-color:#aaa">
                <h1>Columna 1</h1>
                <p>Esto es una prueba de bootstrap.</p>
            </div>
            <div class="col-sm-4" style="background-color:#bbb">
                <h1>Columna 2</h1>
                <p>Esto es una prueba de bootstrap.</p>
            </div>
            <div class="col-sm-4" style="background-color:#ccc">
                <h1>Columna 3</h1>
                <p>Esto es una prueba de bootstrap.</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-xs-4" style="background-color:#aaa">
                <h1>Columna 1</h1>
                <p>Esto es una prueba de bootstrap.</p>
            </div>
            <div class="col-xs-4" style="background-color:#bbb">
                <h1>Columna 2</h1>
                <p>Esto es una prueba de bootstrap.</p>
            </div>
            <div class="col-xs-4" style="background-color:#ccc">
                <h1>Columna 3</h1>
                <p>Esto es una prueba de bootstrap.</p>
            </div>
        </div>

    </div>

</body>
</html>

------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------


<div class="basic">
    <header>Título</header>
    <nav>
        <h3>Navegación</h3>
    </nav>
    <div class="main">
        <h2>Contenido principal de la página</h2>
    </div>
    <footer>Pie</footer>
</div>

<table class="egt">

    <tr>

        <td>Celda 1</td>

        <td>Celda 2</td>

        <td>Celda 3</td>

    </tr>

    <tr>

        <td>Celda 4</td>

        <td>Celda 5</td>

        <td>Celda 6</td>

    </tr>

</table>
------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------

<TABLE BORDER>
    <TR>
        <TD>A</TD>
        <TD>B</TD>
        <TD>C</TD>
    </TR>
    <TR>
        <TD>D</TD>
        <TD>E</TD>
        <TD>F</TD>
    </TR>
</TABLE>
------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------

<TABLE BORDER>
    <TR>
        <TD>Item 1</TD>
        <TD ROWSPAN=2>Item 2</TD>
        <TD>Item 3</TD>
    </TR>
    <TR>
        <TD>Item 4</TD>
        <TD>Item 5</TD>
    </TR>
</TABLE>
------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------

<TABLE BORDER>
    <TR>
        <TD ROWSPAN=2>Item 1</TD>
        <TD>Item 2</TD>
        <TD>Item 3</TD>
        <TD>Item 4</TD>
    </TR>
    <TR>
        <TD>Item 5</TD>
        <TD>Item 6</TD>
        <TD>Item 7</TD>
    </TR>
</TABLE>
------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------

<TABLE BORDER>
    <TR>
        <TD>Item 1</TD>
        <TD COLSPAN=2>Item 2</TD>
    </TR>
    <TR>
        <TD>Item 3</TD>
        <TD>Item 4</TD>
        <TD>Item 5</TD>
    </TR>
</TABLE>


------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------

<!DOCTYPE HTML5>
<html>
<head>
    <title>Ejercicios prácticos HTML5</title>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="description" content="Ejercicios prácticos HTML5">
    <meta name="keywords" content="Ejercicios, Soluciones, Prácticas, HTML5">
</head>
<body>
    <table border="1">
        <caption>Titulo de la tabla</caption>
        <tr>
            <th>Col.Cab.1</th>
            <th>Col.Cab.2</th>
        </tr>
        <tr>
            <td>Celda 1</td>
            <td>Celda 2</td>
        </tr>
    </table>
</body>
</html>

------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------

<!DOCTYPE HTML>
<html>
<head>
    <title>Ejercicios prácticos HTML5</title>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="description" content="Ejercicios prácticos HTML5">
    <meta name="generator" content=", Curso práctic HTML5">
    <meta name="keywords" content="Ejercicios, Soluciones, Prácticas, HTML5">
</head>
<body>
    <table border="1">
        <caption>Tabla con combinación de columnas</caption>
        <tr>
            <th colspan="2">Celda Combinada</th>
            <th>Celda Normal</th>
            <th colspan="2">Celda Combinada>/th>
        </tr>
        <tr>
            <td>C1</td>
            <td>C2</td>
            <td>C3</td>
            <td>C4</td>
            <td>C5</td>
        </tr>
        <tr>
            <td>C6</td>
            <td>C7</td>
            <td>C8</td>
            <td colspan="2">C9 Comb.</td>
        </tr>
    </table>
</body>
</html>

------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------

<!DOCTYPE HTML5>
<html>
<head>
    <title>
        Ejercicios prácticos HTML5>/title>
        <meta charset="utf-8">
        <meta name="author" content="">
        <meta name="description" content="Ejercicios prácticos HTML5">
        <meta name="keywords" content="Ejercicios, Soluciones, Prácticas, HTML5">
</head>
<body>
    <table border="1">
        <caption>
            Tabla con combinación de filas y columnas>/caption>
            <tr>
                <th>celda 1</th>
                <th>celda 2</th>
                <th>celda 3</th>
                <th>celda 4</th>
            </tr>
            <tr>
                <td rowspan="3">celda 5</td>
                <td>celda 6</td>
                <td colspan="2">celda 7</td>
            </tr>
            <tr>
                <td>celda 8</td>
                <td>celda 9</td>
                <td rowspan="2">celda 10</td>
            </tr>
            <tr>
                <td colspan="2">celda 11</td>
            </tr>
    </table>
</body>
</html>

------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------

<!DOCTYPE HTML5>
<html>
<head>
    <title>Ejercicios prácticos HTML5</title>
    <meta charset="utf-8">
    <meta name="description" content="Ejercicios prácticos HTML5">
    <meta name="keywords" content="Ejercicios, Soluciones, Prácticas, HTML5">
</head>
<body>
    <table border="1" style=”width: 100%”>
        <caption>Titulo de tabla</caption>
        <colgroup>
            <col style="width: 20%" />
            <col style="width: 40%" />
            <col style="width: 40%" />
        </colgroup>
        <thead>
            <tr>
                <th rowspan="2">Tabla Avanzada</th>
                <th colspan="2">Cabecera Múltiples Columnas</th>
            </tr>
            <tr>
                <th>Primera Col. Cab.</th>
                <th>Segunda Col. Cab.</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="3">Pie de tabla.</td>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <th>Fila 1</th>
                <td>Fila 1 Columna 1</td>
                <td>Fila 1 Columna 2</td>
            </tr>
            <tr>
                <th>Fila 2</th>
                <td>Fila 2 Columna 1</td>
                <td>Fila 2 Columna 2</td>
            </tr>
        </tbody>
    </table>
</body>
</html>

------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Ejemplo de tabla sencilla</title>
</head>

<body>

    <h1>Su pedido</h1>
    <table>
        <tr>
            <th scope="col">Nombre producto</th>
            <th scope="col">Precio unitario</th>
            <th scope="col">Unidades</th>
            <th scope="col">Subtotal</th>
        </tr>

        <tr>
            <td>Reproductor MP3 (80 GB)</td>
            <td>192.02</td>
            <td>1</td>
            <td>192.02</td>
        </tr>

        <tr>
            <td>Fundas de colores</td>
            <td>2.50</td>
            <td>5</td>
            <td>12.50</td>
        </tr>

        <tr>
            <td>Reproductor de radio &amp; control remoto</td>
            <td>12.99</td>
            <td>1</td>
            <td>12.99</td>
        </tr>

        <tr>
            <th scope="row">TOTAL</th>
            <td>-</td>
            <td>7</td>
            <td><strong>207.51</strong></td>
        </tr>
    </table>

</body>

</html>

------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------

<table>
    <tr>
        <td colspan="2">Enero</td>
        <td colspan="2">Febrero</td>
    </tr>
    <tr>
        <td>Ingresos</td>
        <td>Gastos</td>
        <td>Ingresos</td>
        <td>Gastos</td>
    </tr>
    <tr>
        <td>1.000€</td>
        <td>700€/td>
        <td>1.100€</td>
        <td>580€</td>
    </tr>
    <tr>
        <td>1.800€</td>
        <td>920€</td>
        <td>1.750€</td>
        <td>920€</td>
    </tr>
</table>

------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------

<h4>Esta tabla no tiene bordes:</h4>
<table>
    <tr>
        <td>100</td>
        <td>200</td>
        <td>300</td>
    </tr>
    <tr>
        <td>400</td>
        <td>500</td>
        <td>600</td>
    </tr>
</table>

------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------

<table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">

    <tr>

        <th>Encabezado 1</th>

        <th>Encabezado 2</th>

        <th>Encabezado 3</th>

    </tr>

    <tr>

        <td rowspan="2" valign="middle" align="left">
            Este texto está alineado al centro

            verticalmente y a la izquierda horizontalmente
        </td>

        <td>&nbsp;</td>

        <td>&nbsp;</td>

    </tr>

    <tr>

        <td colspan="2">&nbsp;</td>

    </tr>

</table>


------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------

<TABLE border="2" frame="hsides" rules="groups"
       summary="Páginas de códigos soportadas por las diferentes versiones
                de MS Windows.">
    <CAPTION>PAGINAS DE CODIGOS SOPORTADAS POR MICROSOFT WINDOWS</CAPTION>
    <COLGROUP align="center">
        <COLGROUP align="left">
            <COLGROUP align="center" span="2">
                <COLGROUP align="center" span="3">
                    <THEAD valign="top">
                        <TR>
                            <TH>ID<BR>Code-Page
                            <TH>Nombre
                            <TH>ACP
                            <TH>OEMCP
                            <TH>Windows<BR>NT 3.1
                            <TH>Windows<BR>NT 3.51
                            <TH>Windows<BR>95
    <TBODY>
        <TR><TD>1200<TD>Unicode (BMP de ISO/IEC-10646)<TD><TD><TD>X<TD>X<TD>*
        <TR><TD>1250<TD>Windows 3.1 Europa del Este<TD>X<TD><TD>X<TD>X<TD>X
        <TR><TD>1251<TD>Windows 3.1 Cirílico<TD>X<TD><TD>X<TD>X<TD>X
        <TR><TD>1252<TD>Windows 3.1 US (ANSI)<TD>X<TD><TD>X<TD>X<TD>X
        <TR><TD>1253<TD>Windows 3.1 Griego<TD>X<TD><TD>X<TD>X<TD>X
        <TR><TD>1254<TD>Windows 3.1 Turco<TD>X<TD><TD>X<TD>X<TD>X
        <TR><TD>1255<TD>Hebreo<TD>X<TD><TD><TD><TD>X
        <TR><TD>1256<TD>Árabe<TD>X<TD><TD><TD><TD>X
        <TR><TD>1257<TD>Bálticp<TD>X<TD><TD><TD><TD>X
        <TR><TD>1361<TD>Coreano (Johab)<TD>X<TD><TD><TD>**<TD>X
    <TBODY>
        <TR><TD>437<TD>MS-DOS Estados Unidos<TD><TD>X<TD>X<TD>X<TD>X
        <TR><TD>708<TD>Árabe (ASMO 708)<TD><TD>X<TD><TD><TD>X
        <TR><TD>709<TD>Árabe (ASMO 449+, BCON V4)<TD><TD>X<TD><TD><TD>X
        <TR><TD>710<TD>Árabe (Árabe Transparente)<TD><TD>X<TD><TD><TD>X
        <TR><TD>720<TD>Árabe (ASMO Transparente)<TD><TD>X<TD><TD><TD>X
</TABLE>

------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------

<html lang=”es”>
<head>
    <meta charset=”UTF-8”>
    <title>Tabla combinada</title>
    <style>
        table {
            width: 50%;
        }

        td {
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td colspan=”2”>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan=”2”>&nbsp;</td>
            <td rowspan=”2”>&nbsp;</td>
        </tr>
        <tr>
            <td rowspan=”3”>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan=”3”>&nbsp;</td>
        </tr>
        <tr>
            <td colspan=”3”>&nbsp;</td>
        </tr>
    </table>
</body>


------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------


<table>
    <tr>
        <td rowspan="3">Campo unificado</td>
        <td>Campo 2</td>
        <td>Campo 3</td>
    </tr>
    <tr>
        <td>Campo 5</td>
        <td>Campo 6</td>
    </tr>
    <tr>
        <td>Campo 8</td>
        <td>Campo 9</td>
    </tr>
</table>

------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------

<table>
    <tr>
        <th scope="col">País</th>
        <th scope="col" axis="ingresos">Automóbiles</th>
        <th scope="col" axis="ingresos">Repuestos</th>
        <th scope="col" axis="egresos">Insumos</th>
        <th scope="col">Balance</th>
    </tr>
    <tr>
        <td scope="row" axis="América">Estados Unidos</td>
        <td>$5.432.551</td>
        <td>$3.275.268</td>
        <td>-$2.235,528</td>
        <td>$6,472,291</td>
    </tr>
    <tr>
        <td scope="row" axis="Europa">Reino Unido</td>
        <td>$3,763,221</td>
        <td>$1,342,231</td>
        <td>-$982,268</td>
        <td>$4,123,184</td>
    </tr>
    <tr>
        <td scope="row" axis="Europa">Francia</td>
        <td>$2.458.197</td>
        <td>$2.456.841</td>
        <td>-$1.315,548</td>
        <td>$3,599,490</td>
    </tr>
    <tr>
        <td scope="row" axis="América">Canadá</td>
        <td>$1.846.548</td>
        <td>$448.556</td>
        <td>-$351,559</td>
        <td>$1,943,545</td>
    </tr>
</table>

------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------
<table>
    <colgroup style="width: 150px" />
    <colgroup style="width: 50px" span="3" />
    <colgroup style="width: 100px" />
    <tr>
        <th scope="row">Enero</th>
        <td>12.8</td>
        <td>42.6</td>
        <td>5.2</td>
        <td>Incompleto</td>
    </tr>
    <tr>
        <th scope="row">Febrero</th>
        <td>10.5</td>
        <td>30.1</td>
        <td>10.4</td>
        <td>Incompleto</td>
    </tr>
    <tr>
        <th scope="row">Marzo</th>
        <td>9.5</td>
        <td>31.5</td>
        <td>5.4</td>
        <td>Completo</td>
    </tr>
</table>

------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------
<html>
<head>
    <title>Ejemplo de tabla avanzada</title>
</head>
<body>
    <h3>Análisis de ventas</h3>
    <table summary="Análisis de ventas anuales">
        <caption>Análisis de ventas anuales</caption>
        <thead>
            <tr>
                <th rowspan="2" scope="col">AÑO</th>
                <th colspan="4" scope="col">Expansión de ventas</th>
            </tr>
            <tr>
                <th scope="col">Producto A</th>
                <th scope="col">Producto B</th>
                <th scope="col">Producto C</th>
                <th scope="col">Producto D</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th rowspan="2" scope="col">AÑO</th>
                <th scope="col">Producto A</th>
                <th scope="col">Producto B</th>
                <th scope="col">Producto C</th>
                <th scope="col">Producto D</th>
            </tr>
            <tr>
                <th colspan="4" scope="col">Expansión de ventas</th>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <th scope="row">N-3</th>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <th scope="row">N-2</th>
                <td>3</td>
                <td>5</td>
                <td>8</td>
                <td>4</td>
            </tr>
            <tr>
                <th scope="row">N-1</th>
                <td>4</td>
                <td>4</td>
                <td>7</td>
                <td>3</td>
            </tr>
            <tr>
                <th scope="row">N</th>
                <td>5</td>
                <td>7</td>
                <td>6</td>
                <td>2</td>
            </tr>
        </tbody>
    </table>
</body>
</html>

------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------

<TABLE>
    <CAPTION>Informe de gastos de viaje</CAPTION>
    <TR>
        <TH></TH>
        <TH>Comida</TH>
        <TH>Hotel</TH>
        <TH>Transporte</TH>
        <TH>subtotales</TH>
    </TR>
    <TR>
        <TH id="buenos-aires" axis="buenos-aires">Buenos Aires</TH>
    </TR>
    <TR>
        <TH headers="buenos-aires">25-Ago-97</TH>
        <TD>37.74</TD>
        <TD>112.00</TD>
        <TD>45.00</TD>
        <TD></TD>
    </TR>
    <TR>
        <TH headers="buenos-aires">26-Ago-97</TH>
        <TD>27.28</TD>
        <TD>112.00</TD>
        <TD>45.00</TD>
        <TD></TD>
    </TR>
    <TR>
        <TH headers="buenos-aires">subtotales</TH>
        <TD>65.02</TD>
        <TD>224.00</TD>
        <TD>90.00</TD>
        <TD>379.02</TD>
    </TR>
    <TR>
        <TH id="cordoba" axis="cordoba">Córdoba</TH>
    </TR>
    <TR>
        <TH headers="cordoba">27-Ago-97</TH>
        <TD>96.25</TD>
        <TD>109.00</TD>
        <TD>36.00</TD>
        <TD></TD>
    </TR>
    <TR>
        <TH headers="cordoba">28-Ago-97</TH>
        <TD>35.00</TD>
        <TD>109.00</TD>
        <TD>36.00</TD>
        <TD></TD>
    </TR>
    <TR>
        <TH headers="cordoba">subtotales</TH>
        <TD>131.25</TD>
        <TD>218.00</TD>
        <TD>72.00</TD>
        <TD>421.25</TD>
    </TR>
    <TR>
        <TH>Totales</TH>
        <TD>196.27</TD>
        <TD>442.00</TD>
        <TD>162.00</TD>
        <TD>800.27</TD>
    </TR>
</TABLE>

------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------

<html>
<body>

    <img src="~/Content/img/impresora.svg" alt="Control" style="width:70px; height:60px">
    <a class="btn btn-default" href="">Reporte Personal &raquo;</a>
    <br><br><br>
    <a class="btn btn-default" onclick="alert('Ud. ha finalizado Sesion')" href="/Home/Index">Cerrar Sesion &raquo;</a>

</body>
</html>
