


@{
    ViewBag.Title = "Mostrar_Modificar";

}

<h2>Modificar Asistencia</h2>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
            <p><a class="btn btn-primary btn-xl" href="/Asistencia/Consultar">Atrás &raquo;</a></p>
        </div>
    </div>
</div>
<section class="page-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 card shadow mb-4">
                <div class="card-header py-3 align-middle">
                    <div class="row text-primary">
                        <img src="~/Content/img/usuarios.svg" alt="Control" style="width:auto; height:25px; padding: 0px 6px " />
                        <h4 class="m-0 font-weight-bold text-primary">Modificar Asistencia</h4>
                    </div>
                </div>
                <div class="card-body">
                    <fieldset>
                        <form class="formulario" method="post" action="/Asistencia/Modificar">
                            <table style="width:100%">
                                <tr align='center'>
                                    <td>ID Asistencia:</td>
                                    <td>Hora de entrada:</td>
                                    <td>Hora de salida:</td>
                                </tr>
                                <tr align='center'>
                                    <td><input type="text" name="id_asistencia" value="@ViewBag.id_asistencia"></td>
                                    <td><input type="text" name="hora_entrada" value="@ViewBag.hora_entrada"></td>
                                    <td><input type="text" name="hora_salida" value="@ViewBag.hora_salida"></td>
                                </tr>
                                <tr>
                                    <td align='center' colspan="3"><hr /></td>
                                </tr>

                                <tr>
                                    <td align='center' colspan="3"><hr /></td>
                                </tr>
                                <tr align='center'>

                                    <td></td>
                                </tr>
                                <tr>
                                    <td align='center' colspan="3"><hr /></td>
                                </tr>
                                <tr align='center'>
                                    <td align='left' colspan="3">
                                        <p> <input style="text-align:center;" class="btn btn-primary btn-group-sm" type="submit" value=" Modificar " /></p>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</section>


