
@{
    ViewBag.Title = "Consultar";
}

<h2>Consultar</h2>
<form method="post" action="/Usuarios/Mostrar_Crear">
    <input style="text-align:center;" class="btn btn-primary btn-group-sm" type="submit" value=" Agregar" />
</form>
    @Html.Raw(ViewBag.mensaje)



