
@{
    ViewBag.Title = "Consultar";
}
<div class="container">
<div class="row justify-content-center">
    <div class="col-lg-12 text-center">
        <p><a class="btn btn-primary btn-xl" href="/Home/Menu_Opciones">Volver al Menu &raquo;</a></p>
    </div>
</div>
</div>
<section class="page-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 card shadow mb-4">
                <div class="card-header py-3 align-middle">
                    <div class="row text-primary">
                        <img src="~/Content/img/usuarios.svg" alt="Control" style="width:auto; height:25px; padding: 0px 6px " />
                        <h4 class="m-0 font-weight-bold text-primary">Consultar Frutos</h4>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post" action="/Frutos/Mostrar_Crear">
                        <input class="btn btn-primary btn-lg" type="submit" value=" Agregar" />
                    </form><br />
                    @Html.Raw(ViewBag.lista)
                </div>
            </div>
        </div>
    </div>
</section>


@Html.Raw(ViewBag.mensaje)




