
@{
    ViewBag.Title = "Mostrar_Modificar";
}

<h2>Mostrar_Modificar</h2>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
            <p><a class="btn btn-primary btn-xl" href="/Home/Menu_Opciones">Volver al Menu &raquo;</a></p>
        </div>
    </div>
</div>
<section class="page-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 card shadow mb-4">
                <div class="card-header py-3 align-middle">
                    <div class="row text-primary">
                        <img src="~/Content/img/usuarios.svg" alt="Control" style="width:auto; height:25px; padding: 0px 6px " />
                        <h4 class="m-0 font-weight-bold text-primary">Ingreso Usuario</h4>
                    </div>
                </div>
                <div class="card-body">
                    <fieldset>
                        <form class="formulario" method="post" action="/bdd/FrutosController.cs">
                            <table style="width:100%">
                                <tr align='center'>
                                    <td>Id Fruto:</td>
                                </tr>
                                <tr align='center'>
                                    <td><input type="text" name="id_fruto"></td>
                                </tr>
                                <tr>
                                    <td align='center' colspan="3"><hr /></td>
                                </tr>
                                
                                <tr align='center'>
                                    <td><label for="name">Fruto:</label></td>
                                    <td>
                                        <select name="fruto">
                                            <option value="1">Arandanos</option>
                                            <option value="2" selected>Cerezos</option>

                                        </select>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td align='center' colspan="3"><hr /></td>
                                </tr>
                                <tr align='center'>
                                    <td align='left' colspan="3">
                                        <p><a class="btn btn-info btn-lg" onclick="alert('Usuario Registrado')" href="">AGREGAR &raquo;</a></p>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</section>
