
@{
    ViewBag.Title = "Mostrar_Modificar";
    string select1 = "";
    string select2 = "";
    if(ViewBag.nivel == "1")
    {
        select1 = "selected";
    }
    else
    {
        select2 = "selected";
    }
}

<h2>Modificar Usuarios</h2>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
            <p><a class="btn btn-primary btn-xl" href="/Home/Menu_Opciones">Volver al Menu &raquo;</a></p>
        </div>
    </div>
</div>
<section class="page-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 card shadow mb-4">
                <div class="card-header py-3 align-middle">
                    <div class="row text-primary">
                        <img src="~/Content/img/usuarios.svg" alt="Control" style="width:auto; height:25px; padding: 0px 6px " />
                        <h4 class="m-0 font-weight-bold text-primary">Modificar Usuario</h4>
                    </div>
                </div>
                <div class="card-body">
                    <fieldset>
                        <form class="formulario" method="post" action="/Sectores/Modificar">
                            <table style="width:100%">
                                <tr align='center'>
                                    <td>ID Sector:</td>

                                </tr>
                                <tr align='center'>
                                    <td><input type="text" name="Id_sector" value="@ViewBag.Id_sector"></td>
                                </tr>
                                <tr>
                                    <td align='center' colspan="3"><hr /></td>
                                </tr>
                                
                                <tr align='center'>
                                    <td><label for="name">Sectores:</label></td>
                                    <td>
                                        <select name="nombre">
                                            <option value="Sector 1" @select1>Sector 1</option>
                                            <option value="Sector 2" @select2>Sector 2</option>

                                        </select>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td align='center' colspan="3"><hr /></td>
                                </tr>
                                <tr align='center'>
                                    <td align='left' colspan="3">
                                        <p> <input style="text-align:center;" class="btn btn-primary btn-group-sm" type="submit" value=" Modificar " /></p>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</section>
