
@{
    ViewBag.Title = "Consultar";
}
@Html.Raw(ViewBag.mensaje)


<h2>Consultar Usuarios</h2>
<form method="post" action="/Usuarios/Mostrar_Crear">
    <input style="text-align:center;" class="btn btn-primary btn-group-sm" type="submit" value=" Agregar" />
</form>

@Html.Raw(ViewBag.lista)

<form method="post" action="/Home/Menu_Opciones">
    <input style="text-align:center;" class="btn btn-primary btn-group-sm" type="submit" value=" Atras" />
</form>



